<% layout( 'layout' ) -%>

<h1 class="page-header"><%= title %></h1>

<% todos.forEach( function ( todo ){ %>
    <form  action="/update/<%= todo._id %>" method="post" class=" form-create navbar-form navbar-left" accept-charset="utf-8">
    <div class="form-group">
      Nome:<input required="required"  class="form-control" type="text" name="name" value="<%= todo.name %>" />
      Sobrenome:<input required="required"  class="form-control" type="text" name="lastName" value="<%= todo.lastName %>" />
      Tarefa:<input required="required" class="form-control" type="text" name="content" value="<%= todo.content %>"/>
    </div>
      <input type="submit" value="Gravar" class="btn btn-default">
    <a  href="/destroy/<%= todo._id %>" title="Delete esse item" class="btn btn-default">Delete</a>
    </form>

<% }); %>
